
nav a {
    margin: 0 5%;
    display:center;
    margin-left: 16.6%;

}
.plans {
    width:100px;
    background-color:#FF764E;
}

.learn {
    background-color:#5ED3EB;
    width:140px;
}

.get {
    background-color:#FFCD69;
}

.top-images nav{
    text-align:center;
    width:70%;
}

a{
display:inline-block;
padding:1%;
padding-bottom:30px;
text-decoration:none;
color:white;
border-radius:20px;
}

.pic {
        border-radius: 50%;
        width:20%;
        margin-right: 60px;
        display:inline-block
}



.title {
    display:inline-block;
    text-align:center;
    margin-left: 50%;
}
.title h1 {
    height: -100px;
    font-size:50px;

}

.para {
    font-size:40;
}


.faire {
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .firep {
      text-align:center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:20%;
  }


.car {
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carp {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20%; 
}


.box {
    background-color:#DDB9A3;
    margin:300px;
    height:100px;
    padding-top:30px;
    padding-bottom:30px;
    margin-top: -0.5%;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    color:white;
}

.footers {
    left: 0px;
    right: 0px;
    width: 100%;
    display: inline-block;
    height:50%;
    
}
.bottomimages {
    background-color:#F9E7DC ;
    position: relative;
}

.woot {
    margin-top: -5%;
}